asfault
beamngpy
dataclasses
deap
descartes
decorator
drivebuild-client
flask
gym
jinja2
keras
lxml
matplotlib
mpi4py
networkx
numpy==1.16.0
pg8000
Pillow
protobuf
pydotplus
pyqtree
python-dateutil
PyYAML
requests
shapely
setuptools>=41.0.0
similaritymeasures
sklearn
stable_baselines==2.7.0
tensorflow==1.14.0
